<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="panel">
            <div class="panel-heading acomodar-items">
                <div><h3 class="panel-title hidden-xs">Operadores</h3></div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sinpadding">
                    <div class="input-group input-group-mod">
                        <div class="form-group">
                            <input ng-enter="search()" type="search" autocomplete="off" ng-model="query"
                                class="form-control form-control-mod with-primary-addon" placeholder="Buscar" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group-btn">
                             <button type="button" class="btn btn-default btn-ico" ng-click="search()" uib-tooltip="Buscar"><i class="ion-ios-search-strong"></i></button>
                             <button type="button" ng-click="createOrEdit()" class="btn btn-primary btn-ico" uib-tooltip="Nuevo"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-condensed table-condensed-mod-c" wt-responsive-table>
                <thead>
                <th>Tipo</th>
                <th class="text-center">Habilitado</th>
                </thead>
                <tbody>
                <tr ng-repeat="op in operators | filter:query">
                    <td><a href="" ng-click="createOrEdit(op)" ng-bind="op.name"></a></td>
                    <td class="text-center" ng-bind="labels[op.enabled]"></td>

                </tr>
                <tbody>
            </table>
            <div class="panel-footer centrar-items">
                <uib-pagination boundary-links="true" items-per-page="max" total-items="totalCount"
                                ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" ng-change="load()"
                                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
        </div>
    </div>
</div>