@import 'common';

/*Helpers*/
.center--items{
	display: flex;
	justify-content: center;
	align-items: center;
}
.sort--items{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
// injector
// endinjector